*

!LICENSE*

!.bashrc
!.config
!.config/bottom
!.config/bottom/*
!.config/dircolors
!.config/dunst
!.config/dunst/*
!.config/dwm
!.config/dwm/**
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/foot
!.config/foot/foot/ini
!.config/hypr
!.config/hypr/bindings.conf
!.config/hypr/hyprland.conf
!.config/hypr/theme.conf
!.config/hypr/README.md
!.config/lf
!.config/lf/cmds.conf
!.config/lf/keybind.conf
!.config/lf/lfrc
!.config/mpd
!.config/mpd/mpd.conf
!.config/mpv
!.config/mpv/input.conf
!.config/ncmpcpp
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/neomutt
!.config/neomutt/accounts.sample
!.config/neomutt/keybinds
!.config/neomutt/mailcap
!.config/neomutt/neomuttrc
!.config/neomutt/sidebar
!.config/qutebrowser
!.config/qutebrowser/README.md
!.config/qutebrowser/config.py
!.config/qutebrowser/keymaps.py
!.config/shell
!.config/shell/*
!.config/texinfo
!.config/texinfo/infokey
!.config/tmux
!.config/tmux/keybind.conf
!.config/tmux/statusline.conf
!.config/tmux/tmux.conf
!.config/vim
!.config/vim/vimrc
!.config/waybar
!.config/waybar/background.css
!.config/waybar/config.jsonc
!.config/waybar/hyprland.css
!.config/waybar/misc.css
!.config/waybar/README.md
!.config/waybar/style.css
!.config/waybar/tray.css
!.config/yazi
!.config/yazi/*
!.config/zathura
!.config/zathura/zathurarc
!.config/zsh
!.config/zsh/prompt.zsh
!.config/picom.conf
!.gitignore
!.inputrc
!.local
!.local/bin
!.local/bin/.gitignore
!.local/share
!.local/share/xdg-desktop-portal
!.local/share/xdg-desktop-portal/portals.conf
!.profile
!.stow-local-ignore
!.zprofile
!.zshrc
