*

!LICENSE*

!.bashrc
!.config
!.config/bottom
!.config/bottom/bottom.toml
!.config/dircolors
!.config/dunst
!.config/dunst/dunstrc
!.config/dwm
!.config/dwm/status/mpd_get
!.config/dwm/status/vol_get
!.config/dwm/autostart.sh
!.config/dwm/wp.sh
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/foot
!.config/foot/foot/ini
!.config/hypr
!.config/hypr/bindings.conf
!.config/hypr/hyprland.conf
!.config/hypr/theme.conf
!.config/hypr/README.md
!.config/lf
!.config/lf/cmds.conf
!.config/lf/hook.conf
!.config/lf/keybind.conf
!.config/lf/lfrc
!.config/mpd
!.config/mpd/mpd.conf
!.config/mpv
!.config/mpv/input.conf
!.config/ncmpcpp
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/neomutt
!.config/neomutt/accounts.sample
!.config/neomutt/keybinds
!.config/neomutt/mailcap
!.config/neomutt/neomuttrc
!.config/neomutt/sidebar
!.config/qutebrowser
!.config/qutebrowser/README.md
!.config/qutebrowser/config.py
!.config/qutebrowser/keymaps.py
!.config/shell
!.config/shell/alias.sh
!.config/shell/fzf.sh
!.config/shell/git.sh
!.config/texinfo
!.config/texinfo/infokey
!.config/tmux
!.config/tmux/keybind.conf
!.config/tmux/statusline.conf
!.config/tmux/tmux.conf
!.config/vim
!.config/vim/vimrc
!.config/waybar
!.config/waybar/background.css
!.config/waybar/config.jsonc
!.config/waybar/hyprland.css
!.config/waybar/misc.css
!.config/waybar/README.md
!.config/waybar/style.css
!.config/waybar/tray.css
!.config/yazi
!.config/yazi/keymap.toml
!.config/yazi/theme.toml
!.config/yazi/yazi.toml
!.config/yazi/.gitignore
!.config/zathura
!.config/zathura/zathurarc
!.config/zsh
!.config/zsh/prompt.zsh
!.config/mimeapps.list
!.config/picom.conf
!.gitignore
!.inputrc
!.local
!.local/bin
!.local/bin/.gitignore
!.local/share
!.local/share/applications
!.local/share/applications/lf.desktop
!.local/share/applications/mimeapps.list
!.local/share/xdg-desktop-portal
!.local/share/xdg-desktop-portal/portals.conf
!.profile
!.stow-local-ignore
!.zprofile
!.zshrc
