*

!.bashrc
!.config
!.config/bottom
!.config/bottom/*
!.config/dircolors
!.config/dunst
!.config/dunst/*
!.config/dwm
!.config/dwm/**
!.config/fontconfig
!.config/fontconfig/fonts.conf
!.config/foot
!.config/foot/foot/ini
!.config/hypr
!.config/hypr/**
!.config/lf
!.config/lf/**
!.config/mpd
!.config/mpd/mpd.conf
!.config/mpv
!.config/mpv/input.conf
!.config/ncmpcpp
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/neomutt
!.config/neomutt/accounts.sample
!.config/neomutt/keybinds
!.config/neomutt/local
!.config/neomutt/mailcap
!.config/neomutt/neomuttrc
!.config/neomutt/sidebar
!.config/qutebrowser
!.config/qutebrowser/README.md
!.config/qutebrowser/config.py
!.config/qutebrowser/keymaps.py
!.config/texinfo
!.config/texinfo/infokey
!.config/tmux
!.config/tmux/keybind.conf
!.config/tmux/statusline.conf
!.config/tmux/tmux.conf
!.config/vim
!.config/vim/*
!.config/waybar
!.config/waybar/**
!.config/yazi
!.config/yazi/*
!.config/zathura
!.config/zathura/zathurarc
!.config/zsh
!.config/zsh/*
!.config/picom.conf
!.gitignore
!.inputrc
!.profile
