#window,
#workspaces {
	background: @surface;
}

#workspaces {
	border-bottom-right-radius: 5px;
}

#workspaces button {
	border: 0px;
	padding: 0px 10px;
	color: @text;
}

#workspaces button:hover {
	border: 0px;
	background: @sel-surface;
}

#workspaces button.active {
	color: @sel-surface;
	background: @surface;
}

#window {
	border-left: 10px solid @surface;
	border-right: 10px solid @surface;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

window#waybar.empty #window {
	background: transparent;
	border: none;
}
